/.mixin.out
/.pg-native
/.sable
/bivrik
command_history.txt
/crash-reports
/data
/debug
/defaultconfigs
/downloads
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/etched-sounds
/exposures
fabricloader.log
/fancymenu_data
/figura
/logs
/local
/mods/.connector
options.txt
/paintings
ponders_watched.json
/saves
/schematics
/screenshots
servers.dat_old
/vista_ffmpeg_bin
vista_ffmpeg_sources.json
/vista_web_content_cache
/xaero
temp_image_dump.png
usercache.json
usernamecache.json
*.zip
emi.json
*.bak
*.jar
config/iris.properties
config/fabric/indigo-renderer.properties
config/packetfixer.properties
